.section_heading{
    margin-bottom: 20px;
    font-weight: bold;
}
.nav_set{
    margin-left: 21px;
}
.energbill_snapshot {
    height: 22px;
}
.search-box {
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    border-color: #d8d8d8;
}
.table-bordered {
    border: 1px solid #dddddd;
    height: 42px;
    width: 1002px;
}
@media screen and (min-width: 1366px){
    .enroll-search-title {
        width: 12%;
    }
}
@media screen and (min-width: 1280px){
    .enroll-search-title {
        width: 13%;
    }
    
}

@media screen and (min-width: 1200px){
    .enroll-search-title {
        width: 16%;
    }
}
.pull-l {
    float: left;
}
.request-type-label {
    font-size: 14px;
    font-weight: bold;
    padding-top: 3px;
    padding-left: 10px;
    color: #232323;
}
.input_box{
    border-radius: 7px !important;
    width: 160px;
    margin-right: 5px;
}
table {
    display: table;
    border-collapse: separate;
    white-space: normal;
    line-height: normal;
    /* font-weight: normal; */
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    border-color: grey;
    font-variant: normal;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.form-col{
    color: #6cbbd1;
}